{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "max-len": [
      "warn",
      80,
      {"ignoreComments": true}
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "space-before-function-paren": "error",
    "no-console": "warn",
    "no-unused-vars": "warn"
  }
}
